.chart-series-line {
    -fx-stroke-width: 4px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke-width: 4px; }
.default-color1.chart-series-line { -fx-stroke-width: 4px; }
.default-color2.chart-series-line { -fx-stroke-width: 4px; }
.default-color3.chart-series-line { -fx-stroke-width: 12px; }
